@model (string city, float temperature)
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Current time: @DateTime.Now</h2>
    <h3>Temperature in @Model.city is @Model.temperature °C</h3>
</div>
